<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		
		
		<link	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"	rel="stylesheet">
		<link	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<link	href="css/main.css"	rel="stylesheet">
		<link	href="css/mainDesktop.css"	rel="stylesheet" media="screen and (min-width: 925px)">
		<link	href="css/mainTablet.css" rel="stylesheet" media="screen and (max-width: 924px) and (min-width:720px)">
		<link	href="css/mainMobile.css" rel="stylesheet" media="screen and (max-width:719px)">
	
	
		<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script	src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>
		<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
		<script src="https://www.google.com/jsapi"></script>

		<script src="js/main.js"></script>
		<script src="js/angularController.js"></script>
	
		<title>Your Feed Reader</title>
	</head>
	
	<body>
		<!--This div is where all the angular magic happens, everything dependent on angular is inside this  -->
	
		<div id="wrapper" ng-app="feedReaderApp" ng-controller="feedController">
		
			<!-- sidebar to store all feed buttons -->
			<div id="sidebarWrapper">
				<!-- Button to create new feed -->
				<div id="newFeedButtonDiv">
					<button id="addNewFeed" type="button"
						class="btn btn-info btn-block" data-toggle="modal"
						data-target="#myFeedForm">Click here to add new feed</button>
				</div>
				<!-- cloud of added feeds -->
				<div id="feedIcons">
					<span ng-repeat="feed in feeds" class="feedButtonGroup">
						<button id="feedbutton{{$index}}" type="button" ng-click="loadFeedData(feed.feedUrl,$index);" class="btn feedButtons">{{feed.feedTitle}}
							<i ng-click="deleteFeed($index);" class="glyphicon glyphicon-remove feedCloseIcon"></i>
						</button>
					</span>
				</div>
			</div>
	
			<!-- Main page, shows the feed content as per the selected feed -->
		<div id="pageContentWrapper" class="text-center">
			<div id="header">
				<h1 id="feedHeader"> {{activeFeed.title}} </h1>
					<h5 id="feedDescription" class="text-muted">{{activeFeed.description}} </h5>
				<hr />
			</div>
			<div id="feed">
					<div class="feedPost panel panel-default"
						ng-repeat="item in activeFeed.entries">
						<div class="panel-body">
							<a href="{{item.link}}" target="_blank">
								<div class="feedthumbnail">
									<img src="{{item.imgSrc}}"></img>
								</div>
								<hr />
								<div class="feedTitle text-capitalize">{{item.title}}</div>
								<hr />
								<div class="feedDate">{{item.date | date:"fullDate"}}</div>
								<div class="feedSnippet text-muted">{{item.contentSnippet}}</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
		<!-- New feed addition form -->
		<div id="myFeedForm" class="modal fade" role="dialog">
	
			<div class="modal-dialog  modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add New Feed</h4>
						<span id="invalidFeedError"></span>
					</div>
					<div class="modal-body">
						<form id="addFeedForm">
							<input type="text" class="form-control" name="feedTitle" id="feedTitle" placeholder="Enter Feed Title" /> <br /> 
							<input type="text" class="form-control" name="feedUrl" id="feedUrl" placeholder="Enter feed url" />
							<hr />
							<button type="button" id="insertFeed" class="btn btn-default" data-dismiss="modal">Add Feed</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>